POSTGRES_DB=pubo
POSTGRES_USER=pubo
POSTGRES_PASSWORD=change-this-database-password-without-url-special-chars
JWT_ACCESS_SECRET=change-this-to-a-long-random-secret
JWT_REFRESH_SECRET=change-this-to-another-long-random-secret
CORS_ORIGIN=http://ct-intra:8080,https://int-web.pub-o.com
PUBO_HTTP_PORT=8080
